*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
main{
    margin-left: auto;
    margin-right: auto;
}
iframe{
    width: 49.3%;
    border: none;
    margin-left: 1px;
    height: 1080px;
    display: inline;
}
