* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */
body{

}
header, nav, main, footer{
    font-family: Padauk, sans-serif;
}
header, nav, main, #gridContainer{
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
}
header{
    line-height: 0;
    max-width:1600px;
    max-height: 419px;
    padding-top: 15%;
    background-image: url(../img/slideImg/4.jpg);
    background-size: cover;
}

header h1{
    margin-left:10px;
    display: inline-block;
    font-family: Oswald, sans-serif;
    font-size: 2rem;
    vertical-align: bottom;
    color:white;
}
/*
header img{
width: 100%;
height: 100%;
}
*/

nav{
    background-color: #f4bf42;
    padding-top: 5px;
    padding-bottom: 0.02px;

}
#hamburger{
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid #3F3F3F;
    font-size: 1.6rem;
    margin-left: 10px;
    display: block;
    font-size: 2rem;
    font-weight: bolder;
    color: #050505;
}
#hamburger:hover{
    color: #FFFFFF;
}
.hamburgerActived{
    display: block;
}

nav ul{
    display: none;
    list-style-type: none;
    margin:0;
    padding: 0;
}

nav li a{
    color: #050505;
    font-weight: 100;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    font-family: Oswald, sans-serif;
    border-bottom: 1px solid #3F3F3F;
}
nav li a:hover, .actualPage{
    background-color: #D93434;
    color: #FFFFFF;
}
#slideImg img{
    width:100%;
    margin-top: 5px;
    margin-bottom: 10px;
}
main {
    background-color: #FFFFFF;
}
main h1{
    text-align: center;
    font-family: Oswald, sans-serif;
    font-size: 2.5rem;
    margin-left:5px;
    margin-right:5px;
}
main p{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;

}

footer{
    margin-top: 100px;
    font-size: 1.2rem;
    background-color:#f4bf42;
    color:#050505;
}
#gridContainer{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}
#gridContainer section{
    border-bottom: 1px solid #3F3F3F;
}

#gridContainer section p img{
    vertical-align: middle;
    margin-right:10px;
    width:25px;
}
#gridContainer section a > img{
    margin-bottom: 10px;
    margin-right: 40px;
}
.socialMedia{
    width: 45px;
    background-color:#f4bf42;
}
#gridContainer h3{
    font-weight: 100;
}

a{
    font-size: 1.3rem;
    color:#D93434;
    text-decoration: none;
}
a:hover{
    color:#050505;
}
