@media only screen and (min-width: 37.5em) {    
    #hamburger{
        display: none;
    }
    header h1{
        font-size: 3rem;
    }
    nav{
        padding: 0;
    }
    nav ul{
        display: block;
        overflow: hidden;
    }
    nav li a{
        margin:0;
        border:0;
        padding: 15px;
        display: inline-block;
    }
    nav li{
        float: left;
    }
    #gridContainer{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #gridContainer h2{
        font-weight: 100;
    }
    #gridContainer section{
        border-bottom: 0;
        border-left: 1px solid #3F3F3F;
    }
    #copyright{
        grid-column: 1/3;
    }
}